<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div style="padding:20px;text-align:center;">
<div style="max-width:400px;padding:20px;border:1px solid #CCC;border-radius:10px;margin: 20px auto;text-align: left;">
<h2>ConOnline.app</h2>
<p>Welcome to the convention!</p>
<p>Use this magic link to sign in.</p>
<p><a href="https://cononline.app/login/<%= @user.id %>/<%= @user.key %>" style="border-radius:5px;background:#CFF;display: inline-block; padding: 20px; text-decoration: none; color: #000;">Click here to login</a></p>
<p>This convention is build on open source software that we created. Anyone can start a con with it!</p>
</div>
</div>
</body>
</html>