%h1 Login or Register
= render 'form', user: @user
%br/
%br/
%br/
%br/
%h3.p-t-3
  Forgot Password
%form{action: 'forgot', method: 'get'}
  .form-group
    %label{for:'email'} Email
    %input{type:'text',name:'email',placeholder:'email',class:'form-control'}
  %input{type:'submit',value:'Submit',class:'btn'}
