%h1 New User
= render 'form', user: @user
= link_to 'Back', users_path
%br/
%br/
%br/
%br/
%h3.p-t-3
  Forgot Password
%form{action: 'forgot', method: 'get'}
  %input{type:'text',name:'email',placeholder:'email'}
  %input{type:'submit',value:'Submit'}
