%h3
  Your account is now waiting email verification. Click the sign in link from your email to sign in.

%p
  You need the link from your email in order to login.

%p
  After you login, you can create a vendor account or create a cosplay.
