.col-md-6
  .card.flex-md-row.mb-4.box-shadow.h-md-250
    .card-body.d-flex.flex-column.align-items-start
      %strong.d-inline-block.mb-2.text-primary
        = attendee.name
      %h3.mb-0
        %a.text-dark{:href => url_for(attendee)}
          = attendee.name
      .mb-1.text-muted Cosplayer
      %p.card-text.mb-auto
        = attendee.about
      - if @current_user&.attendees.find_by(id: attendee.id)
        = link_to "Delete", attendee, method: :delete, data: {confirm: 'You sure?'}
    - if attendee.image.attached?
      %img.card-img-right.flex-auto.d-none.d-md-block{:alt => "Card image cap", "data-src" => url_for(attendee.image), src: url_for(attendee.image), style: 'width:200px;height:250px;'}/