<h1>Attendees</h1>

<% @attendees.each do |attendee| %>
  <%= render attendee, locals: {attendee: attendee} %>
<% end %>


<br>

<%= link_to 'New Cosplayer / Attendee', new_attendee_path, class: 'btn btn-primary p-t-3' %>
