.container
  .jumbotron
    %h1.display-3 A free online anime convention.
    %p.lead ConOnline is a free online anime convention. You can shop from vendors directly from the website and they will mail you whatever you wanted to purchase, straight to your home!
    %p
      %a.btn.btn-lg.btn-success{:href => "/vendors", :role => "button"} Shop now
  .row.marketing
    .col-lg-6
      %h4 Free
      %p We don't charge vendors to list their products here. It's super simple and easy for a vendor or artist to get started.
      %h4 Available
      %p Anyone can use ConOnline to sell their goods to fans around the country. We want anyone to be able to "attend" the con.
      %h4 Subheading
      %p Maecenas sed diam eget risus varius blandit sit amet non magna.
    .col-lg-6
      %h4 Open Source
      %p The source code upon which we built ConOnline is available completely for free on Github.
      %h4 Maintained
      %p
        ConOnline was developed by
        %a{href: 'https://animecon.org'}
          AnimeCon.org
        and released to the public for free. Anyone can spin up a server with their own online con.
      %h4 License
      %p ConOnline is provided with a copyleft license that makes it completely free to reuse, distribute, change, or modify.
  %footer.footer
    %p © ConOnline 2020
