%h1 ConSweet
%p
  The ConSweet is a place to relax and socialize at anime conventions in real life. You can take your mask off and unwind for a moment with soda and snacks at the convention.
%p
  Eventually we might make it so that cosplayers can have live chat and messaging here, to make ConOnline more like a real convention!

%h3 Food Project
%p
  We're raising money! Since we can't have a real ConSweet and serve real food here, we are
  %b raising money for Chicago's food bank.
  You can donate directly
  %a{href: 'https://www.chicagosfoodbank.org/'}
    on their website
  to help support their COVID-19 response.

%p
  AnimeCon.org and ConOnline together are matching the first $500 donated to Chicago's Food Banks through this process.
  %a{href: 'https://animecon.org/contact'}
    Email us
  with your donation receipt from between May 12, 2020 and May 30, 2020 and we will match your donation!

%p
  * We will match the total of all donations given up to $500 maximum (total, not per-donation) during this campaign.

