.jumbotron.p-3.p-md-5.text-white.rounded.bg-dark
  %h1.display-4.font-italic It's a free Online Anime Con!
  .lead.my-3
    Welcome to a free, online,
    %strong
      open source
    anime convention. Since we're all stuck at home during the COVID-19 crisis, you can shop from some of your favorite anime convention vendors.
  %p
    %a.btn.btn-lg.btn-success{:href => "/vendors", :role => "button"} Shop now

.row.mb-2
  - for vendor in Vendor.where(category: 'artist').sort{|vendor|vendor.products.size}.reverse[0..1]
    = render vendor, locals: {vendor: vendor}
  - for vendor in Vendor.where(category: 'dealer').sort{|vendor|vendor.products.size}.reverse[0..1]
    = render vendor, locals: {vendor: vendor}

.p-3.mb-3.bg-light.rounded
  %h4.font-italic About
  %p.mb-0
    Con Online
    %em is completely free and open source
    with no commissions to the organizers.
    %a{href: 'https://github.com/ryankopf/cononline'}
      View on Github

