%h1 Terms and Conditions

%p By accessing this website, you have read, understand, and have agreed to these terms and conditions.

%p We provide this website and any related services on an AS-IS basis and with NO WARRANTY and NO GUARANTEE. We do not make you any promises of merchantability nor fitness for any particular purpose.

%p This website is provided free, and as such we are under no obligation to you.

%p In the event of any damages caused by this website or its related services, you agree that our liability is limited to a maximum of either the amount you paid for the service, or $10, whichever is larger.

%p You agree to give us an unlimited, irrevocable, worldwide license to use the content you post on this website specifically for the purpose of being on this website and its related services. For example, we can display images you provide to us to users who may be interested in purchasing those items from you. We may cache these things on our server or in our backup files and we will never be under any obligation to erase every copy.

%p You agree to waive, discharge, and covenant not to sue us against any and all claims with or without case.

%p You agree not to use the services for spam or harassment.

%p You may not use the services for any acts which are illegal.

%p You agree we may suspend accounts or use of this service from any person or organization at any time and for any reason.

%p We may update these terms at any time, and you must agree to the updated terms or immediately discontinue further use of the service.