document.querySelector(".product_<%= @product.id %> .btn-primary").outerHTML = "<a class='btn btn-light' href='/cart'>Added - Cart</a>";
//document.querySelector(".product_<%= @product.id %> .btn-primary").innerHTML = "Added";
//document.querySelector(".product_<%= @product.id %> .btn-primary").classList.remove('btn-primary');