.col-md-6
  .card.flex-md-row.mb-4.box-shadow.h-md-250
    .card-body.d-flex.flex-column.align-items-start
      %strong.d-inline-block.mb-2.text-primary
        = vendor.category
      %h3.mb-0
        %a.text-dark{:href => url_for(vendor)}
          = vendor.name
      .mb-1.text-muted A member of ConOnline.
      %p.card-text.mb-auto
        = vendor.about
      %a{:href => url_for(vendor)} Shop now
    - if vendor.image.attached?
      %img.card-img-right.flex-auto.d-none.d-md-block{:alt => "Card image cap", "data-src" => url_for(vendor.image), src: url_for(vendor.image), style: 'width:200px;height:250px;'}
