%h1
  = @category

.row
  - for vendor in @vendors.sort{|vendor|vendor.products.size}.reverse.each
    = render vendor, locals: {vendor: vendor}

= link_to 'I Am A Vendor - New Vendor Signup', new_vendor_path, class: 'btn btn-primary'

- if @current_user&.admin?
  %h3.pt-5
    Vendors awaiting approval.
  - for vendor in Vendor.where(approved: false).or(Vendor.where(approved: nil))
    = link_to vendor.name, vendor