<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div style="padding:20px;text-align:center;">
<div style="max-width:400px;padding:20px;border:1px solid #CCC;border-radius:10px;margin: 20px auto;text-align: left;">
<h2>ConOnline.app</h2>
<p>A new vendor has applied.</p>
<p>You can go approve them.</p>
<p><a href="https://cononline.app/vendors/<%= @vendor.id %>" style="border-radius:5px;background:#CFF;display: inline-block; padding: 20px; text-decoration: none; color: #000;">View the vendor.</a></p>
</div>
</div>
</body>
</html>